* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

.container {
  width: 65%;
  margin: 0 auto;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 96%;
  }
}

header {
  position: relative;
  box-shadow: 0px 3px 84px rgba(0, 0, 0, 0.07);
  z-index: 5;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 0 30px 0;
}
header .container nav {
  width: 81%;
}
header .container nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.3s linear;
}
header .collapsed-menu-btn {
  color: #B798FF;
  background-color: #F0F0F0;
  width: 100%;
  text-align: center;
  padding: 10px 0 5px 0;
  cursor: pointer;
  display: none;
}
header .logo {
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 170px;
  cursor: pointer;
}
header .menu .menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  height: 14px;
}
header .menu .menu-btn .menu-item {
  width: 20px;
  height: 1px;
  background-color: #B798FF;
  transition: all 0.3s linear;
}
header .menu p {
  font-weight: 400;
  font-size: 16px;
}
header .menu-opened .menu-btn {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
header .menu-opened .menu-btn .menu-item {
  background-color: #FFC000;
}
header .menu-opened .menu-btn .first {
  width: 22px;
}
header .menu-opened .menu-btn .second {
  width: 17px;
}
header .menu-opened .menu-btn .third {
  width: 11px;
}
header .phone-number {
  font-weight: 700;
  font-size: 16px;
}
header .working-time, header .shipping-and-payment {
  font-weight: 400;
  font-size: 16px;
}
header .shipping-and-payment {
  color: black;
  text-decoration: none;
}
header .search {
  width: 175px;
  padding: 10px 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #A8A8A8;
  border: none;
  border-bottom: 1px solid #8B8B8B;
}
header .basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 38px;
}
header .basket p {
  font-size: 14px;
}
header .basket span {
  font-size: 18px;
  color: #B798FF;
}
@media screen and (max-width: 1650px) {
  header .container {
    width: 75%;
  }
}
@media screen and (max-width: 1400px) {
  header .container {
    width: 85%;
  }
  header .container nav {
    width: 78%;
  }
}
@media screen and (max-width: 1200px) {
  header .container {
    width: 96%;
  }
  header .logo {
    font-size: 17px;
    width: 180px;
  }
  header .menu p, header .phone-number, header .working-time, header .shipping-and-payment, header .search {
    font-size: 14px;
  }
  header .menu {
    width: 150px;
  }
  header .basket p {
    font-size: 12px;
  }
  header .basket span {
    font-size: 16px;
  }
}
@media screen and (max-width: 950px) {
  header .container {
    flex-direction: column;
  }
  header .collapsed-menu-btn {
    display: block;
  }
  header .container nav ul {
    flex-direction: column-reverse;
    height: 0;
    display: none;
  }
  header .container nav ul.opened {
    height: auto;
    display: flex;
  }
  header .nav-item, header .collapsed-menu-btn {
    margin-top: 20px;
  }
  header .logo {
    margin-top: 0;
  }
}

#menu-catalog {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 35px 0 35px 0;
  background-color: white;
  position: relative;
  z-index: 3;
  height: 397px;
}
@media screen and (max-width: 550px) {
  #menu-catalog {
    height: 450px;
  }
}
#menu-catalog .catalog {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}
@media screen and (max-width: 1440px) {
  #menu-catalog .catalog {
    width: 45%;
    font-size: 14px;
  }
}
@media screen and (max-width: 850px) {
  #menu-catalog .catalog {
    width: 60%;
  }
}
@media screen and (max-width: 550px) {
  #menu-catalog .catalog {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
  }
}
#menu-catalog .catalog .main-list {
  width: 44%;
}
#menu-catalog .catalog .main-list .main-list-item {
  font-weight: 400px;
  margin-bottom: 11px;
  cursor: pointer;
}
#menu-catalog .catalog .main-list .selected-item {
  color: #FFC000;
}
#menu-catalog .catalog .secondary-list {
  width: 56%;
}
#menu-catalog .catalog .secondary-list .secondary-list-item {
  margin-bottom: 11px;
}
#menu-catalog .catalog .secondary-list .secondary-list-item a {
  font-weight: 400;
  color: #8B8B8B;
  text-decoration: none;
}
#menu-catalog .products-in-catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}
@media screen and (max-width: 1440px) {
  #menu-catalog .products-in-catalog {
    width: 55%;
  }
}
#menu-catalog .products-in-catalog .product {
  width: 46%;
}
@media screen and (max-width: 1440px) {
  #menu-catalog .products-in-catalog .product {
    font-size: 14px;
  }
}
@media screen and (max-width: 850px) {
  #menu-catalog .products-in-catalog {
    width: 40%;
  }
  #menu-catalog .products-in-catalog > :last-child {
    display: none;
  }
  #menu-catalog .products-in-catalog .product {
    width: 100%;
    font-size: 16px;
  }
  #menu-catalog .products-in-catalog .product .product-card-img {
    height: 23vw;
  }
}
@media screen and (max-width: 550px) {
  #menu-catalog .products-in-catalog .product {
    display: none;
  }
}

.hidden {
  display: none !important;
}

.tea-1 {
  background-image: url(../img/tea-1);
}

.tea-2 {
  background-image: url(../img/tea-2.jpg);
}

.tea-3 {
  background-image: url(../img/tea-3.jpg);
}

.tea-4 {
  background-image: url(../img/tea-4.jpg);
}

.tea-5 {
  background-image: url(../img/tea-5.jpg);
}

.tea-6 {
  background-image: url(../img/tea-6.jpg);
}

.tea-7 {
  background-image: url(../img/tea-7.jpg);
}

.tea-8 {
  background-image: url(../img/tea-8.jpg);
}

.tea-9 {
  background-image: url(../img/tea-9.jpg);
}

.tea-10 {
  background-image: url(../img/tea-10.jpg);
}

.product-card-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 11vw;
}

main img {
  width: 100%;
  height: auto;
}
main .content {
  width: 100%;
}
main .content .section {
  margin-top: 45px;
}
main .content .section .section-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 335px;
}
main .content .section .section-info .section-name {
  font-weight: 600;
  font-size: 26px;
}
main .content .section .section-info .products-count {
  font-weight: 400;
  font-size: 16px;
  color: #A8A8A8;
  align-self: flex-start;
}
main .content .section .section-info .all-products {
  font-weight: 400;
  font-size: 20px;
  color: #927BC9;
  text-decoration: none;
  margin-left: 20px;
}
@media screen and (max-width: 360px) {
  main .content .section .section-info {
    width: 310px;
    margin: 0 auto;
  }
  main .content .section .section-info .section-name {
    font-size: 24px;
  }
  main .content .section .section-info .all-products {
    font-size: 18px;
  }
}
main .content .section .products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
main .content .section .products .product {
  width: 22.5%;
  margin-top: 25px;
}
@media screen and (max-width: 1440px) {
  main .content .section .products .product .product-card-img {
    height: 15vw;
  }
}
@media screen and (max-width: 1200px) {
  main .content .section .products .product .product-card-img {
    height: 18vw;
  }
}
@media screen and (max-width: 850px) {
  main .content .section .products .product .product-card-img {
    height: 26vw;
  }
}
@media screen and (max-width: 500px) {
  main .content .section .products .product .product-card-img {
    height: 60vw;
  }
}
@media screen and (max-width: 1440px) {
  main .content .section .products .product {
    width: 31%;
  }
  main .content .section .products > :last-child {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  main .content .section .products .product {
    width: 48%;
    display: block;
  }
}
@media screen and (max-width: 500px) {
  main .content .section .products {
    flex-direction: column;
  }
  main .content .section .products .product {
    width: 90%;
    display: block;
  }
}

.product {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.product .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
.product .info .name {
  margin-top: 13px;
  color: #4F4F4F;
}
.product .info .discount {
  color: #FE0000;
}
.product .info .original-cost {
  color: #FE0000;
  text-decoration: line-through;
}
.product .info .original-cost p {
  color: black;
}
.product .info strong {
  font-size: 18px;
}

main.shift {
  margin-top: -467px;
}

footer {
  margin-top: 50px;
  background-color: #F0F0F0;
  padding: 50px 0 50px 0;
}
footer .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .address .metro, footer .contacts {
  color: #927BC9;
}
footer .address, footer .descr, footer .contacts {
  line-height: 220%;
}
footer .contacts > :first-child {
  color: black;
}
footer .descr, footer .social span {
  color: #A8A8A8;
}
footer .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .descr {
  width: 30vw;
}
@media screen and (max-width: 890px) {
  footer .descr {
    width: 70vw;
  }
  footer .social {
    margin-top: 20px;
  }
}
@media screen and (max-width: 700px) {
  footer .descr {
    width: 85vw;
  }
}
@media screen and (max-width: 500px) {
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  footer .social {
    flex-direction: row;
    width: 100px;
  }
}