* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 65%;
  margin: 0 auto;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header .logo {
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 170px;
}
header .menu .menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 14px;
}
header .menu .menu-btn .menu-item {
  width: 20px;
  height: 1px;
  background-color: #B798FF;
}
header .menu p {
  font-weight: 400;
  font-size: 16px;
}
header .phone-number {
  font-weight: 700;
  font-size: 16px;
}
header .working-time, header .shipping-and-payment {
  font-weight: 400;
  font-size: 16px;
}
header .shipping-and-payment {
  color: black;
  text-decoration: none;
}
header .search {
  width: 175px;
  padding: 10px 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #A8A8A8;
  border: none;
  border-bottom: 1px solid #8B8B8B;
}
header .basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 38px;
}
header .basket p {
  font-size: 14px;
}
header .basket span {
  font-size: 18px;
  color: #B798FF;
}