@import "../../mixins.scss";

.all-products-block {
    width: 70%;
    @include d-flex($justify: flex-start);

    .product {
        width: 30%;
        margin-top: 40px;
        margin-left: 5%;

        > div {
            width: 100%;
        }  
    }
    .product:first-child, .product:nth-child(3n+1) {
        margin-left: 0;
    }
}
@media screen and (max-width: 1500px) {
    .all-products-block {
        .product {
            font-size: 12.8px;

            .info strong {
                font-size: 13.8px;
            }

            span.material-icons {
                font-size: 19px;
            }
        }
    }
}

@media screen and (max-width: 1000px) and (min-width: 981px) {
    .all-products-block {
        .product {
            width: 47%;
            margin-left: 6%;
        }
        .product:nth-child(odd) {
            margin-left: 0;
        }
    }
}
@media screen and (max-width: 980px) {
    .all-products-block {
        width: 100%;

        .product {
            width: 30%;
            margin-left: 5%;
        }
        .product:first-child {
            margin-left: 0;
        }
    }
}
@media screen and (max-width: 750px) {
    .all-products-block {
        .product {
            .product-card-img {
                height: 17vw;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .all-products-block {
        .product {
            width: 47%;
            margin-left: 6%;

            .product-card-img {
                height: 23vw;
            }
        }
        .product:nth-child(odd) {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 500px) {
    .all-products-block {
        flex-direction: column;
        align-items: center;

        .product {
            width: 90%;
            display: block;
            margin-left: 0;
            font-size: 18px;

            .cost strong {
                font-size: 20px;
            }

            .product-card-img {
                height: 60vw;
            }
        }
    }
}