.order-price {
  margin-top: 25px;
}
.order-price tr :first-child {
  color: #8b8b8b;
  text-align: right;
  padding: 10px;
}
.order-price tr :last-child {
  color: #C8C8C8;
  font-size: 28px;
  font-weight: 600;
  padding-left: 16px;
}
.order-price .total :first-child {
  color: black;
}
.order-price .total :last-child {
  color: #FFC000;
}

.free-delivery {
  color: #8b8b8b;
  font-size: 14px;
  font-style: italic;
  text-align: right;
  margin-top: 13px;
}
@media screen and (max-width: 350px) {
  .free-delivery {
      font-size: 13px;
  }
}