.you-can-like {
  margin-top: 45px;
  width: 100%;
}
.you-can-like .you-can-like-products {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  width: 100%;
}
.you-can-like .you-can-like-products .product:first-child {
  margin-left: 0;
}
.you-can-like .you-can-like-products .product {
  width: 22.5%;
  margin-left: 3.33%;
}

@media screen and (max-width: 1024px) {
  .you-can-like .you-can-like-products .product {
    width: 30%;
    margin-left: 5%;
  }
  .you-can-like .you-can-like-products .product .product-card-img {
    height: 16vw;
  }
}
@media screen and (max-width: 768px) {
  .you-can-like .you-can-like-products .product {
    width: 47.5%;
    margin-left: 5%;
  }
  .you-can-like .you-can-like-products .product .product-card-img {
    height: 23vw;
  }
}
@media screen and (max-width: 425px) {
  .you-can-like .you-can-like-products .product {
    width: 100%;
    margin-left: 0;
  }
  .you-can-like .you-can-like-products .product .product-card-img {
    height: 50vw;
  }
}