#menu-catalog {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 35px;
  background-color: white;
  position: relative;
  z-index: 3;
  height: 397px;
  box-shadow: 0px 3px 84px rgba(0, 0, 0, 0.07);
}
@media screen and (max-width: 550px) {
  #menu-catalog {
    height: 450px;
  }
}
#menu-catalog .catalog {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}
@media screen and (max-width: 1440px) {
  #menu-catalog .catalog {
    width: 45%;
    font-size: 14px;
  }
}
@media screen and (max-width: 850px) {
  #menu-catalog .catalog {
    width: 60%;
  }
}
@media screen and (max-width: 550px) {
  #menu-catalog .catalog {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
  }
}
#menu-catalog .catalog .main-list {
  width: 44%;
}
#menu-catalog .catalog .main-list .main-list-item {
  font-weight: 400px;
  margin-bottom: 11px;
  cursor: pointer;
}
#menu-catalog .catalog .main-list .selected-item {
  color: #FFC000;
}
#menu-catalog .catalog .secondary-list {
  width: 56%;
}
#menu-catalog .catalog .secondary-list .secondary-list-item {
  margin-bottom: 11px;
}
#menu-catalog .catalog .secondary-list .secondary-list-item a {
  font-weight: 400;
  color: #8B8B8B;
  text-decoration: none;
}
#menu-catalog .products-in-catalog {
  display: flex;
  align-items: top;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}
@media screen and (max-width: 1440px) {
  #menu-catalog .products-in-catalog {
    width: 55%;
  }
}
#menu-catalog .products-in-catalog .product {
  width: 46%;
}
@media screen and (max-width: 1440px) {
  #menu-catalog .products-in-catalog .product {
    font-size: 14px;
  }
}
@media screen and (max-width: 850px) {
  #menu-catalog .products-in-catalog {
    width: 40%;
  }
  #menu-catalog .products-in-catalog > :last-child {
    display: none;
  }
  #menu-catalog .products-in-catalog .product {
    width: 100%;
    font-size: 16px;
  }
  #menu-catalog .products-in-catalog .product .product-card-img {
    height: 23vw;
  }
}
@media screen and (max-width: 550px) {
  #menu-catalog .products-in-catalog .product {
    display: none;
  }
}

#menu-catalog.opened ~ div {
  margin-top: -467px !important;
}
@media screen and (max-width: 950px) {
  #menu-catalog.opened ~ div {
    margin-top: -717px !important;
  }
}