@import "../../mixins.scss";

.shipping {
    margin-top: 32px;

    .shipping-blocks {
        @include d-flex();

        .block {
            width: 30.923vw;
            margin-bottom: 1.5vw;

            img {
                width: 100%;
            }

            h3 {
                margin-top: 14px;
            }

            p {
                margin-top: 5px;
            }
        }
        .block:nth-child(2) {
            margin-top: -1vw;
        }
    }
}
@media screen and (max-width: 1872px) {
    .shipping {
        .shipping-blocks {
            .block:nth-child(2) {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 1253px) {
    .shipping {
        .shipping-blocks {
            .block:nth-child(2) {
                margin-top: -1.4vw;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .shipping {
        .shipping-blocks {
            .block {
                width: 38vw;
            }
            .block:nth-child(2) {
                margin-top: 0;
            }
        }
    }
}
@media screen and (max-width: 1019px) {
    .shipping {
        .shipping-blocks {
            .block:nth-child(2) {
                margin-top: -1.7vw;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .shipping {
        .shipping-blocks {
            .block {
                width: 95vw;
            }
        }
    }
}