.shipping {
  margin-top: 32px;
}
.shipping .shipping-blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.shipping .shipping-blocks .block {
  width: 30.923vw;
  margin-bottom: 1.5vw;
}
.shipping .shipping-blocks .block img {
  width: 100%;
}
.shipping .shipping-blocks .block h3 {
  margin-top: 14px;
}
.shipping .shipping-blocks .block p {
  margin-top: 5px;
}
.shipping .shipping-blocks .block:nth-child(2) {
  margin-top: -1vw;
}

@media screen and (max-width: 1872px) {
  .shipping .shipping-blocks .block:nth-child(2) {
    margin-top: 0;
  }
}
@media screen and (max-width: 1253px) {
  .shipping .shipping-blocks .block:nth-child(2) {
    margin-top: -1.4vw;
  }
}
@media screen and (max-width: 1200px) {
  .shipping .shipping-blocks .block {
    width: 38vw;
  }
  .shipping .shipping-blocks .block:nth-child(2) {
    margin-top: 0;
  }
}
@media screen and (max-width: 1019px) {
  .shipping .shipping-blocks .block:nth-child(2) {
    margin-top: -1.7vw;
  }
}
@media screen and (max-width: 900px) {
  .shipping .shipping-blocks .block {
    width: 95vw;
  }
}