@import "../../mixins.scss";

.results-header {
    @include d-flex;
    width: 285px;
    margin-top: 30px;

    h2 {
        font-weight: 600;
        font-size: 26px;
    }
    p {
        color: #A8A8A8;
        align-self: flex-start;
    }
}