main .main-img {
  width: 100%;
  height: 606px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
main .main-img .see-all-products {
  color: white;
  background-color: #B798FF;
  position: relative;
  top: 469px;
  left: 78px;
  transform: skewX(-8deg);
  width: 245px;
}
main .main-img .see-all-products a {
  display: block;
  width: 227px;
  height: 21px;
  text-align: center;
  padding: 9px;
  color: white;
  text-decoration: none;
}
main .content {
  width: 100%;
}