@import "../../mixins.scss";

footer {
    margin-top: 50px;
    background-color: #F0F0F0;
    padding: 50px 0 50px 0;

    .container {
        @include d-flex($align: start);
    }
    
    .address .metro, .contacts {
        color: #927BC9;
    }
    .address, .descr, .contacts {
        line-height: 220%;
    }
    .contacts {
        >:first-child {
            color: black;
        }
    }
    .descr, .social span {
        color: #A8A8A8;
    }
    .social {
        @include d-flex($direction: column);
    }
    .descr {
        width: 30vw;
    }
    @media screen and (max-width: 890px) {
        .descr {
            width: 70vw;
        }
        .social {
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 700px) {
        .descr {
            width: 85vw;
        }
    }
    @media screen and (max-width: 500px) {
        .container {
            flex-direction: column;
            align-items: center;
        }
        .social {
            flex-direction: row;
            width: 100px;
        }
    }
}