@import "../../mixins.scss";

.all-products-container {
    @include d-flex($align: flex-start, $justify: flex-start);

    .all-products-body {
        @include d-flex($align: flex-start);
        width: 100%;
    }
    .all-products-block {
        width: 70%;
        @include d-flex;

        .product {
            width: 30%;
            margin-top: 40px;

            > div {
                width: 100%;
            }  
        }
    }
}