@import "../../mixins.scss";

.basket {
    @include d-flex($direction: column, $align: flex-end);

    .basket-empty {
        align-self: flex-start;
        margin-top: 30px;
        margin-left: 20px;
        font-size: 20px;
    }
}