@import "variables";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}
.container {
    width: 65%;
    margin: 0 auto;
    height: 100%;

    @media screen and (max-width: 1200px) {
        width: 80%;
    }
    @media screen and (max-width: 700px) {
        width: 96%;
    }
}

header {
    position: relative;
    box-shadow: 0px 3px 84px rgba(0, 0, 0, 0.07);
    z-index: 5;
    
    .container {
        @include d-flex;
        flex-wrap: wrap;
        padding: 30px 0 30px 0;

        nav  {
            width: 81%;
            ul {
                @include d-flex;
                transition: all .3s linear;
            }
        }
    }

    .collapsed-menu-btn {
        color: #B798FF;
        background-color: #F0F0F0;
        width: 100%;
        text-align: center;
        padding: 10px 0  5px 0;
        cursor: pointer;
        display: none;
    }
    .logo {
        font-size: 20px;
        font-weight: 700;
        align-items: center;
        width: 200px;
        @include d-flex;
    }

    .menu {
        @include d-flex;
        width: 170px;
        cursor: pointer;

        .menu-btn {
            @include d-flex($direction: column);
            height: 14px;

            .menu-item {
                width: 20px;
                height: 1px;
                background-color: #B798FF;
                transition: all .3s linear;
            }
        }
        p {
            font-weight: 400;
            font-size: 16px;
        }
    }
    .menu-opened {
        .menu-btn {
            @include d-flex($direction: column, $align: start);

            .menu-item {
                background-color: #FFC000;
            }
            .first {
                width: 22px;
            }
            .second {
                width: 17px;
            }
            .third {
                width: 11px;
            }
        }
    }
    .phone-number {
        font-weight: 700;
        font-size: 16px;
    }
    .working-time, .shipping-and-payment {
        font-weight: 400;
        font-size: 16px;
    }
    .shipping-and-payment {
        color: black;
        text-decoration: none;
    }
    .search {
        width: 175px;
        padding: 10px 0 10px 0;
        font-weight: 400;
        font-size: 16px;
        color: #A8A8A8;
        border: none;
        border-bottom: 1px solid #8B8B8B;
    }
    .basket {
        @include d-flex;
        width: 38px;
        
        p {
            font-size: 14px;
        }
        span {
            font-size: 18px;
            color: #B798FF;
        }
    }
    @media screen and (max-width: 1650px) {
        .container {
            width: 75%;
        }
    }
    @media screen and (max-width: 1400px) {
        .container {
            width: 85%;
            nav {
                width: 78%;
            }
        }
    }
    @media screen and (max-width: 1200px) {
        .container {
            width: 96%;
        }
        .logo {
            font-size: 17px;
            width: 180px;
        }
        .menu p, .phone-number, .working-time, .shipping-and-payment, .search {
            font-size: 14px;
        } 
        .menu {
            width: 150px;
        }
        .basket {
            p {
                font-size: 12px;
            }
            span {
                font-size: 16px;
            }
        }
    }
    @media screen and (max-width: 950px) {
        .container {
            flex-direction: column;
        }
        .collapsed-menu-btn {
            display: block;
        }
        .container nav ul {
            flex-direction: column-reverse;
            height: 0;
            display: none;
        }
        .container nav ul.opened {
            height: auto;
            display: flex;
        }
        .nav-item, .collapsed-menu-btn {
            margin-top: 20px;
        }
        .logo {
            margin-top: 0;
        }
    }
}

#menu-catalog {
    @include d-flex($align: flex-start);
    width: 100%;
    padding: 35px 0 35px 0;
    background-color: white;
    position: relative;
    z-index: 3;
    height: 397px;

    @media screen and (max-width: 550px) {
        height: 450px;
    }

    .catalog {
        @include d-flex($justify: start, $align: start);
        width: 50%;

        @media screen and (max-width: 1440px) {
            width: 45%;
            font-size: 14px;
        }
        @media screen and (max-width: 850px) {
            width: 60%;
        }
        @media screen and (max-width: 550px) {
            width: 90%;
            margin: 0 auto;
            font-size: 16px;
        }
        
        .main-list {
            width: 44%;

            .main-list-item {
                font-weight: 400px;
                margin-bottom: 11px;
                cursor: pointer;
            }
            .selected-item {
                color: #FFC000;
            }
        }
        .secondary-list {
            width: 56%;

            .secondary-list-item {
                margin-bottom: 11px;
    
                a {
                    font-weight: 400;
                    color: #8B8B8B;
                    text-decoration: none;
                }   
            }
        }
    }
    .products-in-catalog {
        @include d-flex;
        width: 50%;

        @media screen and (max-width: 1440px) {
            width: 55%;
        }

        .product {
            width: 46%;

            @media screen and (max-width: 1440px) {
                font-size: 14px;
            }
        }
        
        @media screen and (max-width: 850px) {
            width: 40%;

            >:last-child {
                display: none;
            }
            .product {
                width: 100%;
                font-size: 16px;

                .product-card-img {
                    height: 23vw;
                }
            }
        }
        @media screen and (max-width: 550px) {
            .product {
                display: none;
            }
        }
    }
}
.hidden {
    display: none !important;
}
.tea-1 {
    background-image: url(../img/tea-1);
}
.tea-2 {
    background-image: url(../img/tea-2.jpg);
}
.tea-3 {
    background-image: url(../img/tea-3.jpg);
}
.tea-4 {
    background-image: url(../img/tea-4.jpg);
}
.tea-5 {
    background-image: url(../img/tea-5.jpg);
}
.tea-6 {
    background-image: url(../img/tea-6.jpg);
}
.tea-7 {
    background-image: url(../img/tea-7.jpg);
}
.tea-8 {
    background-image: url(../img/tea-8.jpg);
}
.tea-9 {
    background-image: url(../img/tea-9.jpg);
}
.tea-10 {
    background-image: url(../img/tea-10.jpg);
}
.product-card-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 11vw;
}

main {
    img {
        width: 100%;
        height: auto;
    }
    .content {
        width: 100%;

        .section {
            margin-top: 45px;

            .section-info {
                @include d-flex;
                width: 335px;

                .section-name {
                    font-weight: 600;
                    font-size: 26px;
                }
                .products-count {
                    font-weight: 400;
                    font-size: 16px;
                    color: #A8A8A8;
                    align-self: flex-start;
                }
                .all-products {
                    font-weight: 400;
                    font-size: 20px;
                    color: #927BC9;
                    text-decoration: none;
                    margin-left: 20px;
                }
                @media screen and (max-width: 360px) {
                    width: 310px;
                    margin: 0 auto;

                    .section-name {
                        font-size: 24px;
                    }
                    .all-products {
                        font-size: 18px
                    }
                }
            }
            .products {
                @include d-flex;
                width: 100%;

                .product {
                    width: 22.5%;
                    margin-top: 25px;

                    .product-card-img {
                        @media screen and (max-width: 1440px) {
                            height: 15vw;
                        }
                        @media screen and (max-width: 1200px) {
                            height: 18vw;
                        }
                        @media screen and (max-width: 850px) {
                            height: 26vw;
                        }
                        @media screen and (max-width: 500px) {
                            height: 60vw;
                        }
                    }
                }
                @media screen and (max-width: 1440px) {
                    .product {
                        width: 31%;
                    }
                    >:last-child {
                        display: none;
                    }
                }
                @media screen and (max-width: 850px) {
                    .product {
                        width: 48%;
                        display: block;
                    }
                }
                @media screen and (max-width: 500px) {
                    .product {
                        width: 90%;
                        display: block;
                    }
                    flex-direction: column;
                }
            }
        }
    }
}
.product {
    color: black;
    text-decoration: none;
    font-size: 16px;
    
    .info {
        @include d-flex;
        margin-top: 20px;

        .name {
            margin-top: 13px;
            color: #4F4F4F;
        }
        .discount {
            color: #FE0000;
        }
        .original-cost {
            color: #FE0000;
            text-decoration: line-through;

            p {
                color: black;
            }
        }
        strong {
            font-size: 18px;
        }
    } 
}
main.shift {
    margin-top: -467px;
}

footer {
    margin-top: 50px;
    background-color: #F0F0F0;
    padding: 50px 0 50px 0;

    .container {
        @include d-flex($align: start);
    }
    
    .address .metro, .contacts {
        color: #927BC9;
    }
    .address, .descr, .contacts {
        line-height: 220%;
    }
    .contacts {
        >:first-child {
            color: black;
        }
        // p {
        //     margin-bottom: 9px;
        // }
    }
    .descr, .social span {
        color: #A8A8A8;
    }
    .social {
        @include d-flex($direction: column);
    }
    .descr {
        width: 30vw;
    }
    @media screen and (max-width: 890px) {
        .descr {
            width: 70vw;
        }
        .social {
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 700px) {
        .descr {
            width: 85vw;
        }
    }
    @media screen and (max-width: 500px) {
        .container {
            flex-direction: column;
            align-items: center;
        }
        .social {
            flex-direction: row;
            width: 100px;
        }
    }
}