.images-slider {
  width: 57.5%;
}
.images-slider .selected-image, .images-slider .all-slider-images li div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.images-slider .selected-image {
  width: 100%;
  height: 392px;
}
.images-slider .all-slider-images {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}
.images-slider .all-slider-images li:first-child {
  margin-left: 0;
}
.images-slider .all-slider-images li {
  width: 17.5%;
  margin-left: 3.125%;
}
.images-slider .all-slider-images li div {
  width: 100%;
  height: 70px;
  cursor: pointer;
}